{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock  %}

{% block content %}

<section class="logo-container">
  <img src="{% static 'images/splash.svg' %}" alt="The Cat Collector Cat">
  <img 
    src="{% static 'images/logotype.svg' %}" 
    alt="Text reads: Cat Collector"
  >
</section>

{% if not user.is_authenticated %}
  <section>
    <form action="{% url 'login' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% endif %}

{% endblock  %}